/* src/components/routes/Landing/Landing/Landing.css */

.everything{
    background-color: white;
}

.main-first{
    position: relative;
    height: 12vh;
    padding: 0;
    margin: 0;
}

.main-second{
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
}

.side-content{
    width: 25%;
    padding: 0;
    margin: 0;

}

.mbody-content{
    width: 75%;
    padding: 0;
    margin: 0;
}